@import "tailwindcss";


::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Kaydırma çubuğu arka planı */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Kaydırma çubuğu rengi */
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
  }
  
  /* Kaydırma çubuğu üzerine gelince rengi koyulaştır */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }